body {
    background-color: darkcyan;
    color: white;
    font-size: 21px;
}

p {
    color: #000;
}

h1 {
    font-size: 70px;
    color: pink;
}

h3 {
    font-size: 24px;
    color:pink;
}

h5 {
    color:pink;
}